
[Desktop Entry]
Encoding=UTF-8
Name=Lirab
Comment=Rationsberechnung
GenericName=Rationsberechnung
Exec=lirab
Icon=lirab
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Office;Database;GTK;

